@use "common" as *;

.header-area {

}

.header-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 5px;

  .logo {
    width: 140px;
    position: relative;
    z-index: 1;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;

    @include mq(lg) {
      padding-top: 10px;
    }

    @include mq(md) {
      width: 110px;
      padding-top: 10px;
    }

    @include mq(xs) {
      width: 100px;
      padding-top: 10px;
    }


    img {
      width: 108px;
      @include mq(md) {
        width: 70px;
      }
      @include mq(xs) {
        width: 70px;
      }
    }

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: $theme-color;
      z-index: -1;
      border-radius: 0 0 14px 14px;
    }
  }

  .manu-wrapper {
    flex: 1;
    background-color: $theme-color;
    padding-right: 55px;
    @include mq(md) {
      padding-right: 15px;
    }
    @include mq(xs) {
      padding-right: 15px;
    }
  }
}

.main-menu {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 105px;
      @include mq(xxl) {
        margin-right: 50px;
      }
      @include mq(xl) {
        margin-right: 30px;
      }

      &:last-child {
        margin-right: 0;
      }

      a {
        display: block;
        font-size: 16px;
        color: #fff;
        font-weight: 700;
        padding: 10px 0;
      }
    }
  }
}

.open-mobile-menu {
  a {
    display: inline-block;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    color: #b4355d;
    text-align: center;
    margin: 10px 0;
    @include mq(lg) {
      margin: 5px 0;
    }
    @include mq(md) {
      margin: 5px 0;
    }
    @include mq(xs) {
      margin: 5px 0;
    }
  }
}