@use "common" as *;

.header-area {

}

.header-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 5px;

  .logo {
    width: 145px;
    position: relative;
    z-index: 1;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 16px;
    @include mq(lg){
      padding-top: 10px;
    }
    @include mq(md){
      padding-top: 10px;
    }
    @include mq(xs){
      padding-top: 10px;
    }


    img {
      width: 108px;
    }

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: $theme-color;
      z-index: -1;
      border-radius: 0 0 14px 14px;
    }
  }

  .manu-wrapper {
    flex: 1;
    background-color: $theme-color;
    padding-right: 55px;
    @include mq(md){
      padding-right: 15px;
    }
    @include mq(xs){
      padding-right: 15px;
    }
  }
}

.main-menu {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 105px;
      @include mq(xxl){
        margin-right: 50px;
      }
      @include mq(xl){
        margin-right: 30px;
      }

      &:last-child {
        margin-right: 0;
      }

      a {
        display: block;
        font-size: 28px;
        color: #fff;
        font-weight: 700;
        padding: 10px 0;
        @include mq(xxl){
          font-size: 23px;
        }
        @include mq(xl){
          font-size: 20px;
        }
      }
    }
  }
}

.open-mobile-menu{
  a{
    display: inline-block;
    font-size: 23px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    color: #b4355d;
    text-align: center;
    margin: 15px 0;
    @include mq(lg){
      margin: 10px 0;
    }
  }
}